body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#login-page, #p2h-form {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

form {
    margin-top: 20px;
}

input[type="text"], input[type="password"] {
    padding: 8px;
    margin: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
